files:
 "C:\\scripts\\SSMAssociation.ps1":
   content: |
     Import-Module AWSPowerShell
     $date =get-date
     if(test-path C:\\transcript.txt) {ri C:\\transcript.txt}
     Start-transcript -Path C:\\transcript.txt -Force -NoClobber
     "Date Ran $date"
     $InstanceId = Invoke-Restmethod -uri http://169.254.169.254/latest/meta-data/instance-id
     "Instance ID: $InstanceId"
     $AvailabilityZone = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/placement/availability-zone
     "Availability Zone: $AvailabilityZone"
     $Region = $AvailabilityZone.Substring(0,$AvailabilityZone.Length-1)
     "Region: $Region"
     Set-DefaultAWSRegion $Region
     "Instance Name: $InstanceName"
     New-SSMAssociation -InstanceId $InstanceId -Name "SSM-CustomLogs-Doc" -Region $Region
     Stop-transcript
container_commands:
  01_SSMAssociation:
     command: powershell.exe -ExecutionPolicy Bypass -File C:\\scripts\\SSMAssociation.ps1
